/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    /* colors variable */
    --color-text-white: #ffffff;
    --color-text-black: #000000;
    --color-text-dark-red: #61082b;
    --color-bg-white: #ffffff;
    --color-bg-black: #000000;
    --color-bg-bright-blue: #0061ff;
    --color-bg-light-blue: #b4d0e7;
    --color-bg-dull-blue: #0093ce;
    --color-bg-light-green: #a2d39b;
    --color-bg-thin-green: #d1e9cd;
    --color-bg-dark-red: #61082b;
    --color-bg-light-red: #ff1c1c;
    --color-bg-red: #d5001f;
    --color-bg-yellow: #ffd830;
    /* gaps */
    --gap-md: 20px;

}

/* debug */
.debug {
    border: 1px solid red;
}
/* flex utilities */
.d-flex {
    display: flex;
    flex-wrap: wrap;
}
.content-between {
    justify-content: space-between;
}
.gap-md {
    gap: var(--gap-md);
}
/* spacers */ 

/* containers */
.outer-container {
    border: 1px solid green;
    max-width: 1200px;
    margin-inline: auto;
}
.inner-container {
    border: 1px solid blue;
    max-width: 800px;
    margin-inline: auto;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* header */
header {
    background-color: #d1d1d1;
    padding: 15px;
}

header nav li {
    border: 1px solid red;
    padding: 5px 10px;
}
/* main */ 
main {
    background-color: #8e8e8e;
}
/* footer */
footer {
    background-color: #505050;
}