/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

html {
    scroll-behavior: smooth;
}

:root {
    /* colors variable */
    --color-text-white: #ffffff;
    --color-text-black: #000000;
    --color-text-dark-red: #61082b;
    --color-bg-white: #ffffff;
    --color-bg-black: #000000;
    --color-bg-bright-blue: #0061ff;
    --color-bg-light-blue: #b4d0e7;
    --color-bg-dull-blue: #0093ce;
    --color-bg-light-green: #a2d39b;
    --color-bg-thin-green: #d1e9cd;
    --color-bg-dark-red: #61082b;
    --color-bg-light-red: #ff1c1c;
    --color-bg-red: #d5001f;
    --color-bg-yellow: #ffd830;
    --color-thin-grey: #eaeaea;
    --color-light-grey: #bbbbbb;
    --color-grey: #6b6b6b;
    /* spacers */
    --gap-xs: 5px;
    --gap-sm: 10px;
    --gap-md: 15px;
    --gap-lg: 30px;
    --gap-xl: 50px;
    --p-block-lg: 50px;
    --p-6-12: 6px 12px;
    --p-30-20: 30px 20px;
    --p-30: 30px;
    --p-block-100: 100px;
    --p-inline-12: 12px;
    /* text dims */
    --text-xl: 4rem;
    --text-lg: 1.8rem;
}

/* debug */
/* .debug {
    border: 1px solid red;
} */

/* containers */
.outer-container {
    /* border: 1px solid green; */
    max-width: 1150px;
    margin-inline: auto;
    padding-inline: 20px;
}

.inner-container {
    /* border: 1px solid blue; */
    max-width: 950px;
    margin-inline: auto;
    padding-inline: 20px;
}

/* components, behaviours */
.btn {
    background-color: var(--color-bg-bright-blue);
    color: var(--color-text-white);
    padding: var(--p-6-12);
}

.btn:hover {
    opacity: .85;
}

.btn-white {
    background-color: var(--color-bg-white);
    color: var(--color-text-black);
    border: 1px solid var(--color-text-black);
}

.toggle-a-reset {
    text-decoration: underline;
    color: var(--color-bg-bright-blue);
}

.line-spacing {
    border: 1px solid var(--color-light-grey);
    width: 30%;
}

.overflow-y-auto {
    overflow-y: auto;
}

/* creato elemento a se stante di arrow dropdown */
.arrow-dropdown {
    display: block;
    border-left: 2.3px solid var(--color-text-black);
    border-bottom: 2.3px solid var(--color-text-black);
    width: .5rem;
    height: .5rem;
    margin-right: 30px;
    transform: rotate(-45deg);
    transition: all .15s ease-in;
}

/* all hover sul diretto padre che ha un figlio di classe arrow-dropdown, ho effetti sul dropdown */
*:has(> .arrow-dropdown):hover .arrow-dropdown {
    transform: rotate(135deg);
    position: relative;
    bottom: -0.25rem;
}

/* body */
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: var(--color-text-black);
}

/* header */
header {
    box-shadow: 0 2px 5px 1px rgb(178, 178, 178);
    margin-bottom: 40px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header nav>ul>li {
    position: relative;
}

header nav li a {
    /* border: 1px solid red; */
    display: block;
    padding: var(--p-30-20);
}

/* all hover degli elementi della header TRANNE il logo e bottone, compare una barra orizzontale sotto */
header nav > ul:first-child > li:not(#logo):hover,
header nav > ul:last-child > li:not(.btn-container):hover {
    border-bottom: 2px solid var(--color-bg-bright-blue);
    box-shadow: 0 4px 2px -2px var(--color-bg-light-blue);
}

/* main */

/* jumbo */
#jumbo-section {
    padding-block: 160px 0;
}

/* lo spingo dall'alto in modo relative cosi sborda dal bg  */
.jumbo-caption {
    position: relative;
    top: 60px;
}

/* icona freccia della jumbo */
.jumbo-caption .arrow-d {
    font-size: 2.8rem;
    margin-top: 60px;
}

.jumbo-caption .arrow-d:hover {
    color: var(--color-bg-bright-blue);
    scale: 110%;
}

/* paragrafo della jumbo */
.jumbo-left {
    min-width: 200px;
    width: 30%;
}

/* immagine della jumbo */
.jumbo-right {
    min-width: 300px;
    width: 70%;
}

/* section 1 business-plan */
/*section 2 enterprise*/
#business-plan {
    padding-top: 100px;
}

/* puramente decorativo, simulo una checkbox, non uso border ma box shadow inset altrimenti visivamente vado oltre 1rem di dimensioni */
.business-plan .invoice>span::before {
    content: "";
    display: inline-block;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 3.5px var(--color-bg-bright-blue);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

/* la seconda checkbox la disegno come non checkata */
.business-plan .invoice>span:nth-child(2):before {
    box-shadow: inset 0 0 0 1px var(--color-grey)
}

/* singola business option, enterprise */
.business-options>div,
.enterprise>div {
    flex: 1 0 0;
    border: 1px solid var(--color-light-grey);
}

/* la singola business option è composta da due macro div */
/* per avere il bordo di separazione, metto un border bottom al primo macro div */
.business-options>div>div:first-child,
.enterprise>div>div:first-child {
    border-bottom: 1px solid var(--color-light-grey);
}

#enterprise {
    margin-top: 50px;
}

/* lunghezza del bottone contatta l'ufficio vendite */
.enterprise a {
    min-width: calc((100% - ((2 * var(--gap-xl)) + 120px)) / 3);
}

/* find partner */

.find-partner-image {
    min-width: 250px;
    width: calc(60% - 15px);
}

.find-partner-text {
    width: calc(40% - 15px);
}

/* operations */

/* figli di operations card container */
.operations .card-container>div {
    min-width: 250px;
    max-width: calc((100% - (2 * var(--gap-lg))) / 3);
}

/* partners */

/* aspect ratio 1 mi fa ottenere un quadrato perfetto a partire da una dimensione*/
.partners-logos .left>div,
.partners-logos .right>div {
    width: 50%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* il logo dei partner è piu piccolo rispetto al proprio contenitore */
.partners-logos .left img,
.partners-logos .right img {
    filter: invert(1);
    width: 50%;
}

.partners-logos>div {
    width: calc(100% / 3);
    aspect-ratio: 1/1;
}

.partners-logos .center .image {
    width: 50%;
}

/* call-to-action */

.cta>* {
    width: calc(100% / 2);
}

/* faq */

.faq div {
    padding-block: 30px;
    border-bottom: 1px solid var(--color-light-grey);
}

.faq div:nth-child(2) {
    margin-top: 30px;
    border-top: 1px solid var(--color-light-grey);
}

.faq>div>span {
    padding: 10px 0;
}

/* risposte. inizialmente nascoste usando opacity(puramente visivo) e azzerando la fontsize */
/* display none block non mi permette di avere transition. Con solo l'opacity mi rimane il suo ingombro*/
/* fontsize 0 mi permette di rendere invisibile il p */
/* f716cabc13765f146eec167bcde38223383b447e = ultimo commit =>(non ancora fatto) NB: provo ad usare la proprieta visibility al posto di opacity e fontsize */
.faq div p {
    opacity: 0;
    margin: 0px 50px 0 5px;
    font-size: 0rem;
    transition: opacity .25s ease-out, font-size .1s linear;
}

/* all hover sullo span, ho effetti sul primo p sibling successivo */
.faq span:hover~p {
    font-size: .8rem;
    opacity: 1;
}

/* footer */
footer {
    background-color: #505050;
    padding-block: 60px 30px;
}

footer ul h2 {
    margin-bottom: 10px;
}

footer ul li a:hover {
    text-decoration: underline;
}

/* puramente decorativo divisore colorato */
/* NB: forse e preferibile usare un after invece di sporcare il div*/
.bottom-footer div {
    display: inline-block;
    margin-top: 80px;
    padding-top: 40px;
    padding-right: 30px;
    border-top: 1px solid var(--color-light-grey);
}

/* bonus personale */
#go-up {
    color: var(--color-light-grey);
    border-radius: 50%;
    font-size: 3rem;
    opacity: .5;
    box-shadow: 3px 3px 2px var(--color-grey);
    position: fixed;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
    transition: all .2s ease-in;

}

/* magheggi  */
#go-up:hover {
    box-shadow: 10px 10px 5px var(--color-grey);
    text-shadow: 0 0px 20px var(--color-bg-light-blue),
        0 0px 40px var(--color-bg-dull-blue),
        0 0px 60px var(--color-bg-light-blue),
        0 0px 80px var(--color-bg-light-blue);
    opacity: .85;
    transform: translate(-5px, -5px);
    scale: 110%;
}

/* altri bonus */

/* menu a tendina header */

header nav li:has(.menu-dropdown):hover .menu-dropdown{
    visibility: visible;
    font-size: 1rem;
}
header nav li:has(.why-ds):hover .menu-dropdown{
    height: 60vh;
}
header nav li:has(.funzioni):hover .menu-dropdown{
    height: 20vh;
}
header nav li:has(.supporto):hover .menu-dropdown{
    height: 15vh;
}

header .menu-dropdown {
    visibility: hidden;
    position: absolute;
    top: 80px;
    margin-top: 20px;
    left: 20px;
    width: max-content;
    height: 0;
    font-size: 0;
    transition: visibility 0s, height .25s linear, font-size .3s ease-in;
}

header .menu-dropdown::before {
    content: "";
    display: block;
    position: absolute;
    top: -18px;
    bottom: -10px;
    left: -9999px;
    right: -9999px;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.22);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    border: 1px solid var(--color-light-greygrey);
}

header .why-ds {
    max-width: 500px;
}
header .why-ds li {
    max-width: 200px;
}
header .funzioni {
    max-width: 1000px;
}
header .funzioni li {
    max-width: 200px;
}
header .supporto {
    max-width: 100px;
}